<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="questions" connectionString="Data Source=C:\Users\sem06\OneDrive\Документы\Учеба ВШЭ\Конструирование программного обеспечения\WhoWantsToBeAMillionaire\WhoWantsToBeAMillionaire\bin\WhoWantsToBeAMillionaire.db;Version=3"/>
		<add name ="rating" connectionString="Data Source=C:\Users\sem06\OneDrive\Документы\Учеба ВШЭ\Конструирование программного обеспечения\WhoWantsToBeAMillionaire\WhoWantsToBeAMillionaire\bin\Rating.db;Version=3"/>
	</connectionStrings>
</configuration>